body {
  margin: 0;
  bottom: 0;
}

.menu-button {
  padding: 15px;
  font-size: 20px;
  color: #c63731;
  transition: 0.5s;
}
.menu-button:hover {
  color: #525252;
  transition: 0.5s;
}

.open_photos {
  text-align: center;
  display: block;
  font-size: 40px;
  padding: 20px 0px 20px;
}
.logo-test {
  width: 100px;
}
.test-block {
  text-align: center;
  margin-top: 50px;
}